/* Main Header */
.background{
  background: linear-gradient(180deg, #373E44 -100%, #191B1F 100% );
}

/* TOP SECTION */
/* TOP BOX */
.shadow-custom {
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.7);
}

/*TOP NavButton Shadow */
.btnShadow{
  -webkit-box-shadow: 1px 5px 23px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 5px 23px 8px rgba(0,0,0,0.75);
  box-shadow: 1px 5px 23px 8px rgba(0,0,0,0.75);
}

/*Top Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
  border: none;
}

::-webkit-scrollbar-thumb {

  background: #736b6e;
  border-radius: 90px;
}

/* BOTTOM SECTION */
.arrowbtn{
  -webkit-box-shadow: 1px 5px 23px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 5px 23px 8px rgba(0,0,0,0.75);
  box-shadow: 1px 5px 23px 8px rgba(0,0,0,0.75);
  transition: background-color 0.8s ease;
}

.arrowbtn:hover{
  background-color: #171717;
}

.add{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8), -2px -2px 10px rgba(255, 255, 255, 0.4);
}





